* {
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.containerFlex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.containerRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.containerBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.note {
  color: #777;
  background-color: #ccc;
  padding: 3px;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.note::before {
  content: "■ ";
}

form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

input {
  padding: 5px 10px;
  border: 1px solid #aaa;
}

select {
  padding: 5px 10px;
  border: 1px solid #aaa;
}

.error {
  color: red;
}
